Cost Tracker Model/The Brain.json
{
  "name": "Competitor's Analysis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "id": "16a7d121-5cf9-4834-9d63-e83175c5c6b2",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1856,
        288
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1ZvQvpp0b9hmr5xPV3yIl9mSVklC_z1tb6I2CM1wOOHg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Links"
        },
        "options": {}
      },
      "id": "2580fee7-9984-4d61-8ebb-0a9bde8b40fb",
      "name": "Read Competitor Links",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1664,
        288
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vL7UpKlt0R3kfrKx",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $input.item.json;\nconst s = d.summary || {}; // prevent undefined errors\n\nlet h = `<h2 style=\"font-family:sans-serif\">\n  Competitor Intelligence: ${d.brand || 'Unknown'}\n</h2>`;\n\nh += `<p style=\"font-family:sans-serif\">\n  Run: ${new Date().toLocaleDateString('en-IN')}\n</p>`;\n\nh += `<table style=\"border-collapse:collapse;width:100%;font-family:sans-serif;font-size:14px;\">\n  <tr style=\"background:#f0f0f0\">\n    <th style=\"padding:8px;border:1px solid #ddd\">Metric</th>\n    <th style=\"padding:8px;border:1px solid #ddd\">Count</th>\n  </tr>\n  <tr>\n    <td style=\"padding:8px;border:1px solid #ddd\">New Products</td>\n    <td style=\"padding:8px;border:1px solid #ddd;text-align:center\">${s.new_count || 0}</td>\n  </tr>\n  <tr>\n    <td style=\"padding:8px;border:1px solid #ddd\">Price Changes</td>\n    <td style=\"padding:8px;border:1px solid #ddd;text-align:center\">${s.updated_count || 0}</td>\n  </tr>\n  <tr>\n    <td style=\"padding:8px;border:1px solid #ddd\">Removed</td>\n    <td style=\"padding:8px;border:1px solid #ddd;text-align:center\">${s.removed_count || 0}</td>\n  </tr>\n</table>`;\n"
      },
      "id": "f402e256-abc5-4ae8-92a9-eec3aec96b1c",
      "name": "Build Email Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        96
      ]
    },
    {
      "parameters": {
        "sendTo": "thelabscatalyst@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "54613958-dbe4-4e30-a83c-53dc8bbd602b",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -816,
        96
      ],
      "webhookId": "882aa617-3cba-4201-91c2-37ddbf86a5fd",
      "credentials": {
        "gmailOAuth2": {
          "id": "28ZFVbmeELASWa67",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "id": "9b138748-90ce-44e7-bcba-4bb46e95f413",
      "name": "All Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -624,
        96
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "2c20ebf4-32d1-49b1-8600-d7f9806aa9ba",
      "name": "Scraping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -864,
        512
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are a data extraction engine designed to parse structured information from messy markdown content.\n\nYour task is to extract ALL products listed in the provided markdown pricing page.\n\nOUTPUT REQUIREMENTS:\nReturn ONLY a valid JSON array. No explanations, no extra text.\n\nEach product must follow this exact schema:\n{\n  \"name\": \"string\",\n  \"price\": \"number (lowest price found)\",\n  \"category\": \"string\",\n  \"tags\": [\"string\"]\n}\n\nEXTRACTION RULES:\n\n1. PRODUCT IDENTIFICATION:\n- Extract every distinct product mentioned in the markdown.\n- Do NOT hallucinate or infer products that are not explicitly present.\n- Ignore headings or sections that are not actual products.\n\n2. NAME:\n- Capture the FULL descriptive product name.\n- Include important qualifiers like:\n  - format (e.g., pouch, pack, jar, bottle)\n  - size (e.g., 250g, 1kg)\n  - variant/type (e.g., instant coffee, filter coffee, dark roast)\n\n3. PRICE:\n- If multiple prices are present:\n  - Choose the LOWEST price as the final price.\n  - Ignore strikethrough or higher MRP values.\n- If price is missing or unclear, SKIP the product entirely.\n- Output only numeric value (no currency symbols).\n\n4. CATEGORY:\n- Infer product type based on description.\n- Be specific (e.g., \"instant coffee\", \"ground coffee\", \"coffee beans\", \"equipment\", etc.)\n- Do NOT leave empty.\n\n5. TAGS:\n- Extract any labels such as:\n  - \"sale\", \"sold out\", \"new\", \"limited\", etc.\n- If no tags exist, return an empty array [].\n\n6. DEDUPLICATION:\n- Avoid duplicate entries.\n- If same product appears multiple times, include only once.\n\n7. STRICTNESS:\n- Do NOT guess missing fields.\n- Do NOT fabricate data.\n- If unsure, SKIP the product.\n\nOUTPUT FORMAT EXAMPLE:\n[\n  {\n    \"name\": \"Instant Coffee Powder Jar 200g\",\n    \"price\": \"299\",\n    \"category\": \"instant coffee\",\n    \"tags\": [\"sale\"]\n  },\n  {\n    \"name\": \"Dark Roast Ground Coffee Pack 500g\",\n    \"price\": \"450\",\n    \"category\": \"ground coffee\",\n    \"tags\": []\n  }\n]\n"
            },
            {
              "content": "=You are given this markdown:{{ $json.data }} "
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "id": "2572aa05-8789-48e5-9cf0-60e030070f99",
      "name": "Extract Products",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -544,
        512
      ],
      "credentials": {
        "openAiApi": {
          "id": "AJUyEfipeY8dMHNc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// output is an ARRAY - so we need output[0], not just output\nconst item = $input.first().json;\n\nconst products = item.output[0].content[0].text.products;\n\nreturn products.map(product => ({\n  json: {\n    name: product.name,\n    price: product.price,\n    category: product.category,\n    tags: Array.isArray(product.tags) ? product.tags.join(', ') : product.tags\n  }\n}));"
      },
      "id": "4a889f50-2490-49f7-baa5-6b51f8b97ff0",
      "name": "Parse Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        240
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FDTqrcWRbU5v35FirKleCYwbC3W2E6acQ9lx0wCTeUA",
          "mode": "list",
          "cachedResultName": "Competitor's Catalogue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FDTqrcWRbU5v35FirKleCYwbC3W2E6acQ9lx0wCTeUA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Brand and URL').item.json.brand }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "aa0cf63d-e60a-4a2a-8f9a-fc95318e6b8a",
      "name": "Read Summary",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        240
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vL7UpKlt0R3kfrKx",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// We have two sources:\n// - Parsed products from OpenAI: 26 items (fresh from website)\n// - Existing sheet data: 4 items (what was saved last time)\n\nconst parsedProducts = $('Parse Products').all().map(i => i.json);\nconst sheetProducts = $('Read Summary').all().map(i => i.json);\n\n// Create a lookup map from sheet data using product name as key\n// This lets us quickly find if a product already exists in sheet\nconst sheetMap = {};\nsheetProducts.forEach(p => {\n  sheetMap[p.name] = p;\n});\n\nconst changes = [];\n\nparsedProducts.forEach(product => {\n  const existing = sheetMap[product.name];\n\n  if (!existing) {\n    // Product is NEW - not in sheet at all\n    changes.push({\n      json: {\n        name: product.name,\n        price: product.price,\n        category: product.category,\n        tags: product.tags,\n        change_type: 'NEW',\n        old_price: null,\n        old_tags: null\n      }\n    });\n  } else {\n    // Product exists - check if price or tags changed\n    const priceChanged = String(existing.price) !== String(product.price);\n    const tagsChanged = existing.tags !== product.tags;\n\n    if (priceChanged || tagsChanged) {\n      changes.push({\n        json: {\n          name: product.name,\n          price: product.price,\n          category: product.category,\n          tags: product.tags,\n          change_type: 'UPDATED',\n          old_price: priceChanged ? existing.price : null,\n          old_tags: tagsChanged ? existing.tags : null\n        }\n      });\n    }\n  }\n});\n\n// If no changes found, return a signal item so the IF node can handle it\nif (changes.length === 0) {\n  return [{ json: { change_type: 'NO_CHANGE' } }];\n}\n\nreturn changes;"
      },
      "id": "829c1d42-27f7-4d86-a5f8-907513320958",
      "name": "Detect Changes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.change_type }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "rightValue": "NO_CHANGE",
              "id": "4fe028b2-a447-46f6-ba51-f2129336ff30"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f493005e-3273-4cba-b739-781462966cf3",
      "name": "Any Changes Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Each item coming in is already flat from Detect Changes\n// We just need to clean and structure it for Google Sheets\nconst item = $input.item.json;\n\nreturn {\n  json: {\n    name: item.name,\n    price: item.price,\n    category: item.category,\n    tags: item.tags,\n    change_type: item.change_type,        // NEW or UPDATED\n    old_price: item.old_price || '',      // empty string if no change\n    old_tags: item.old_tags || '',        // empty string if no change\n  }\n};\n"
      },
      "id": "957d07a8-7675-477e-93e5-4bb28da43289",
      "name": "Flatten for Sheet Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        0
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FDTqrcWRbU5v35FirKleCYwbC3W2E6acQ9lx0wCTeUA",
          "mode": "list",
          "cachedResultName": "Competitor's Catalogue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FDTqrcWRbU5v35FirKleCYwbC3W2E6acQ9lx0wCTeUA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Brand and URL').first().json.brand }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "old_price",
              "displayName": "old_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "change_type",
              "displayName": "change_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "old_tags",
              "displayName": "old_tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9021a582-1fe3-4b25-8284-184d92710596",
      "name": "Update Catalogue Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vL7UpKlt0R3kfrKx",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "id": "3b7d5e9c-4788-4f63-9c6a-3db0b2673c5b",
      "name": "Next Competitor",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1312,
        384
      ]
    },
    {
      "parameters": {},
      "id": "260f4217-c640-4a0c-aaa5-79412583bac4",
      "name": "No Changes Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1136,
        384
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4ab74072-49b7-46cc-bf2b-e909b3179cdb",
      "name": "Number of Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1456,
        288
      ]
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -704,
        512
      ],
      "id": "b4b4a966-4f07-45e6-857e-6adaf7b9dde6",
      "name": "Markdown"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FDTqrcWRbU5v35FirKleCYwbC3W2E6acQ9lx0wCTeUA",
          "mode": "list",
          "cachedResultName": "Competitor's Catalogue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FDTqrcWRbU5v35FirKleCYwbC3W2E6acQ9lx0wCTeUA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Brand and URL').first().json.brand }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "old_price",
              "displayName": "old_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "change_type",
              "displayName": "change_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "old_tags",
              "displayName": "old_tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "bbec7507-f9e0-4b42-82ba-58e9977cdc8f",
      "name": "Flag on - Testing",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        -112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vL7UpKlt0R3kfrKx",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Extracting Station:-\nSetting the brand variables, and extracting the raw HTML from the competitor links which are fetched from the \"competitors links\" sheet, the content is then converted into clear markdown reducing the input context size by 10x, saving tons of credits, OpenAI node extracts all the products efficiently.\n",
        "height": 320,
        "width": 784,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        384
      ],
      "typeVersion": 1,
      "id": "a69556d4-26c6-4580-af29-7dd8c3aac2bd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "brand",
              "value": "={{ $json['Competitor\\'s name'] }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "url",
              "value": "={{ $json[\"Product/Pricing page URL\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ce61691a-926e-4800-927f-5b9b3888e570",
      "name": "Brand and URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1024,
        512
      ]
    },
    {
      "parameters": {
        "content": "## CRON - Starting and fetching operations:-\n\nThis section has a cron node - runs daily (adjust accordingly) - fetches all the links from the list one by one and starts a loop until one item operation gets completed",
        "height": 272,
        "width": 640,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1920,
        176
      ],
      "typeVersion": 1,
      "id": "15254722-19c5-412f-8b23-c334c81b67d7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Updating Section:-\n\nHere the data is analyzed and customized email is generated based upon the changes done during the operation and emailed to the team with formatting, we can also add a slack node, if company uses salck messaging",
        "height": 304,
        "width": 640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        -32
      ],
      "typeVersion": 1,
      "id": "5a497920-93be-4232-9dae-7c33a72282ca",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Product Handling & Decision Section:-\n\nThis station separates all the products present in one link, code node differentiates which product is changed after reading the currunt catalogue sheet, and if statement executes based upon the output.",
        "height": 304,
        "width": 736,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        112
      ],
      "typeVersion": 1,
      "id": "835e018f-a1a5-4c1f-86c2-c29ddb219ab8",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Updating Section:-\n\nIf there are any changes found, then they are replaced in that brands catalogue sheet. BOOM",
        "height": 464,
        "width": 528,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        -208
      ],
      "typeVersion": 1,
      "id": "6bc36959-1668-4dac-873d-288f79404819",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Looping:-",
        "height": 192,
        "width": 400,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        336
      ],
      "typeVersion": 1,
      "id": "d553dc11-e62c-4276-aa87-9866539ede00",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {
    "Weekly Trigger": [
      {
        "json": {
          "timestamp": "2026-04-13T08:33:01.123+05:30",
          "Readable date": "April 13th 2026, 8:33:01 am",
          "Readable time": "8:33:01 am",
          "Day of week": "Monday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "13",
          "Hour": "08",
          "Minute": "33",
          "Second": "01",
          "Timezone": "Asia/Calcutta (UTC+05:30)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Extract Products": [
      {
        "json": {
          "output": [
            {
              "id": "msg_0af9a4112d1f91260069e255a895648198a90852230977a79f",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": {
                    "products": [
                      {
                        "name": "Enamel Mug",
                        "price": 564,
                        "category": "merchandise",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "Green Ceramic Mug",
                        "price": 499,
                        "category": "merchandise",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Tumbler",
                        "price": 999,
                        "category": "merchandise",
                        "tags": [
                          "sold out",
                          "sale"
                        ]
                      },
                      {
                        "name": "Dark Roast Hot Brew Coffee Bags",
                        "price": 399,
                        "category": "hot brew",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Instant Coffee Combo",
                        "price": 1299,
                        "category": "combo",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Frothy Instant Combo - Original",
                        "price": 1799,
                        "category": "combo",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "Dark Roast Instant Coffee",
                        "price": 699,
                        "category": "instant coffee",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Hazelnut Instant Coffee",
                        "price": 599,
                        "category": "instant coffee",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "French Vanilla Instant Coffee",
                        "price": 599,
                        "category": "instant coffee",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Original Instant Coffee",
                        "price": 599,
                        "category": "instant coffee",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Instant Coffee Combo Pack",
                        "price": 1649,
                        "category": "instant coffee",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Instant Coffee Sachets + Travel Mug",
                        "price": 1625,
                        "category": "combo",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Instant Coffee Assorted Pack of 96",
                        "price": 1099,
                        "category": "instant coffee",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "Instant Coffee Sachets + Tumbler",
                        "price": 1276,
                        "category": "combo",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "Filter Instant Coffee",
                        "price": 349,
                        "category": "instant coffee",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Xpresso, Strong Blend Instant Coffee",
                        "price": 399,
                        "category": "instant coffee",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "Travel Mug + Frother + Free Coffee",
                        "price": 2979,
                        "category": "combo",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "Frothy Instant Combo - French Vanilla",
                        "price": 1699,
                        "category": "combo",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "50 Sachets + FREE MUG",
                        "price": 599,
                        "category": "gift pack",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Coffee Frother + Free Coffee",
                        "price": 1299,
                        "category": "combo",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "Instant Coffee Assorted Pack of 48",
                        "price": 599,
                        "category": "instant coffee",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Frothy Instant Combo - Hazelnut",
                        "price": 1699,
                        "category": "combo",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "The Ground Coffee Mug Combo",
                        "price": 849,
                        "category": "merchandise",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Enamel Mug + Free Pack of 10 Instant",
                        "price": 659,
                        "category": "combo",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "Enamel Mug Combo + Free Coffee",
                        "price": 1535,
                        "category": "combo",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "Xpresso, Strong Blend Instant Coffee Pack of 2",
                        "price": 749,
                        "category": "instant coffee",
                        "tags": [
                          "sold out"
                        ]
                      }
                    ]
                  }
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Parse Products": [
      {
        "json": {
          "name": "Enamel Mug",
          "price": 564,
          "category": "merchandise",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Green Ceramic Mug",
          "price": 499,
          "category": "merchandise",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Tumbler",
          "price": 999,
          "category": "merchandise",
          "tags": "sold out, sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Dark Roast Hot Brew Coffee Bags",
          "price": 399,
          "category": "hot brew",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Instant Coffee Combo",
          "price": 1299,
          "category": "combo",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Frothy Instant Combo - Original",
          "price": 1799,
          "category": "combo",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Dark Roast Instant Coffee",
          "price": 699,
          "category": "instant coffee",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Hazelnut Instant Coffee",
          "price": 599,
          "category": "instant coffee",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "French Vanilla Instant Coffee",
          "price": 599,
          "category": "instant coffee",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Original Instant Coffee",
          "price": 599,
          "category": "instant coffee",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Instant Coffee Combo Pack",
          "price": 1649,
          "category": "instant coffee",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Instant Coffee Sachets + Travel Mug",
          "price": 1625,
          "category": "combo",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Instant Coffee Assorted Pack of 96",
          "price": 1099,
          "category": "instant coffee",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Instant Coffee Sachets + Tumbler",
          "price": 1276,
          "category": "combo",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Filter Instant Coffee",
          "price": 349,
          "category": "instant coffee",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Xpresso, Strong Blend Instant Coffee",
          "price": 399,
          "category": "instant coffee",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Travel Mug + Frother + Free Coffee",
          "price": 2979,
          "category": "combo",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Frothy Instant Combo - French Vanilla",
          "price": 1699,
          "category": "combo",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "50 Sachets + FREE MUG",
          "price": 599,
          "category": "gift pack",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Coffee Frother + Free Coffee",
          "price": 1299,
          "category": "combo",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Instant Coffee Assorted Pack of 48",
          "price": 599,
          "category": "instant coffee",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Frothy Instant Combo - Hazelnut",
          "price": 1699,
          "category": "combo",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "The Ground Coffee Mug Combo",
          "price": 849,
          "category": "merchandise",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Enamel Mug + Free Pack of 10 Instant",
          "price": 659,
          "category": "combo",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Enamel Mug Combo + Free Coffee",
          "price": 1535,
          "category": "combo",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Xpresso, Strong Blend Instant Coffee Pack of 2",
          "price": 749,
          "category": "instant coffee",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Read Summary": [
      {
        "json": {
          "row_number": 2,
          "name": "Enamel Mug",
          "old_price": "",
          "price": 564,
          "category": "merchandise",
          "change_type": "NO_CHANGE",
          "old_tags": "sale",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 3,
          "name": "Green Ceramic Mug",
          "old_price": "",
          "price": 499,
          "category": "merchandise",
          "change_type": "NO_CHANGE",
          "old_tags": "",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 4,
          "name": "Tumbler",
          "old_price": "",
          "price": 999,
          "category": "merchandise",
          "change_type": "UPDATED",
          "old_tags": "sale, sold out",
          "tags": "sold out, sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 5,
          "name": "Dark Roast Hot Brew Coffee Bags",
          "old_price": "",
          "price": 399,
          "category": "hot brew",
          "change_type": "NO_CHANGE",
          "old_tags": "",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 6,
          "name": "Instant Coffee Combo",
          "old_price": "",
          "price": 1299,
          "category": "combo",
          "change_type": "NO_CHANGE",
          "old_tags": "",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 7,
          "name": "Frothy Instant Combo - Original",
          "old_price": "",
          "price": 1799,
          "category": "combo",
          "change_type": "NO_CHANGE",
          "old_tags": "",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 8,
          "name": "Dark Roast Instant Coffee",
          "old_price": "",
          "price": 699,
          "category": "instant coffee",
          "change_type": "NO_CHANGE",
          "old_tags": "",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 9,
          "name": "Hazelnut Instant Coffee",
          "old_price": "",
          "price": 599,
          "category": "instant coffee",
          "change_type": "NO_CHANGE",
          "old_tags": "",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 10,
          "name": "French Vanilla Instant Coffee",
          "old_price": "",
          "price": 599,
          "category": "instant coffee",
          "change_type": "NO_CHANGE",
          "old_tags": "",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 11,
          "name": "Original Instant Coffee",
          "old_price": "",
          "price": 599,
          "category": "instant coffee",
          "change_type": "NO_CHANGE",
          "old_tags": "",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 12,
          "name": "Instant Coffee Combo Pack",
          "old_price": "",
          "price": 1649,
          "category": "instant coffee",
          "change_type": "NO_CHANGE",
          "old_tags": "",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 13,
          "name": "Instant Coffee Sachets + Travel Mug",
          "old_price": "",
          "price": 1625,
          "category": "combo",
          "change_type": "NO_CHANGE",
          "old_tags": "",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 14,
          "name": "Instant Coffee Assorted Pack of 96",
          "old_price": "",
          "price": 1099,
          "category": "instant coffee",
          "change_type": "UPDATED",
          "old_tags": "sale",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 15,
          "name": "Instant Coffee Sachets + Tumbler",
          "old_price": "",
          "price": 1276,
          "category": "combo",
          "change_type": "NO_CHANGE",
          "old_tags": "",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 16,
          "name": "Filter Instant Coffee",
          "old_price": "",
          "price": 349,
          "category": "instant coffee",
          "change_type": "NO_CHANGE",
          "old_tags": "",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 17,
          "name": "Xpresso, Strong Blend Instant Coffee",
          "old_price": "",
          "price": 399,
          "category": "instant coffee",
          "change_type": "UPDATED",
          "old_tags": "sale",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 18,
          "name": "Travel Mug + Frother + Free Coffee",
          "old_price": "",
          "price": 2979,
          "category": "combo",
          "change_type": "NO_CHANGE",
          "old_tags": "",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 19,
          "name": "Frothy Instant Combo - French Vanilla",
          "old_price": "",
          "price": 1699,
          "category": "combo",
          "change_type": "NO_CHANGE",
          "old_tags": "",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 20,
          "name": "50 Sachets + FREE MUG",
          "old_price": "",
          "price": 599,
          "category": "gift pack",
          "change_type": "NO_CHANGE",
          "old_tags": "",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Detect Changes": [
      {
        "json": {
          "name": "Coffee Frother + Free Coffee",
          "price": 1299,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": null,
          "old_tags": null
        }
      },
      {
        "json": {
          "name": "Instant Coffee Assorted Pack of 48",
          "price": 599,
          "category": "instant coffee",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": null,
          "old_tags": null
        }
      },
      {
        "json": {
          "name": "Frothy Instant Combo - Hazelnut",
          "price": 1699,
          "category": "combo",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": null,
          "old_tags": null
        }
      },
      {
        "json": {
          "name": "The Ground Coffee Mug Combo",
          "price": 849,
          "category": "merchandise",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": null,
          "old_tags": null
        }
      },
      {
        "json": {
          "name": "Enamel Mug + Free Pack of 10 Instant",
          "price": 659,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": null,
          "old_tags": null
        }
      },
      {
        "json": {
          "name": "Enamel Mug Combo + Free Coffee",
          "price": 1535,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": null,
          "old_tags": null
        }
      },
      {
        "json": {
          "name": "Xpresso, Strong Blend Instant Coffee Pack of 2",
          "price": 749,
          "category": "instant coffee",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": null,
          "old_tags": null
        }
      }
    ],
    "Flatten for Sheet Write": [
      {
        "json": {
          "name": "Coffee Frother + Free Coffee",
          "price": 1299,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Instant Coffee Assorted Pack of 48",
          "price": 599,
          "category": "instant coffee",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "name": "Frothy Instant Combo - Hazelnut",
          "price": 1699,
          "category": "combo",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "name": "The Ground Coffee Mug Combo",
          "price": 849,
          "category": "merchandise",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "name": "Enamel Mug + Free Pack of 10 Instant",
          "price": 659,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "name": "Enamel Mug Combo + Free Coffee",
          "price": 1535,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "name": "Xpresso, Strong Blend Instant Coffee Pack of 2",
          "price": 749,
          "category": "instant coffee",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 6
        }
      }
    ],
    "Update Catalogue Sheet": [
      {
        "json": {
          "name": "Coffee Frother + Free Coffee",
          "price": 1299,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Instant Coffee Assorted Pack of 48",
          "price": 599,
          "category": "instant coffee",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "name": "Frothy Instant Combo - Hazelnut",
          "price": 1699,
          "category": "combo",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "name": "The Ground Coffee Mug Combo",
          "price": 849,
          "category": "merchandise",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "name": "Enamel Mug + Free Pack of 10 Instant",
          "price": 659,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "name": "Enamel Mug Combo + Free Coffee",
          "price": 1535,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "name": "Xpresso, Strong Blend Instant Coffee Pack of 2",
          "price": 749,
          "category": "instant coffee",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 6
        }
      }
    ],
    "Flag on - Testing": [
      {
        "json": {
          "name": "Coffee Frother + Free Coffee",
          "price": 1299,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Instant Coffee Assorted Pack of 48",
          "price": 599,
          "category": "instant coffee",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "name": "Frothy Instant Combo - Hazelnut",
          "price": 1699,
          "category": "combo",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "name": "The Ground Coffee Mug Combo",
          "price": 849,
          "category": "merchandise",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "name": "Enamel Mug + Free Pack of 10 Instant",
          "price": 659,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "name": "Enamel Mug Combo + Free Coffee",
          "price": 1535,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "name": "Xpresso, Strong Blend Instant Coffee Pack of 2",
          "price": 749,
          "category": "instant coffee",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 6
        }
      }
    ],
    "Next Competitor": [
      {
        "json": {
          "name": "Coffee Frother + Free Coffee",
          "price": 1299,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Instant Coffee Assorted Pack of 48",
          "price": 599,
          "category": "instant coffee",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "name": "Frothy Instant Combo - Hazelnut",
          "price": 1699,
          "category": "combo",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "name": "The Ground Coffee Mug Combo",
          "price": 849,
          "category": "merchandise",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "name": "Enamel Mug + Free Pack of 10 Instant",
          "price": 659,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "name": "Enamel Mug Combo + Free Coffee",
          "price": 1535,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "name": "Xpresso, Strong Blend Instant Coffee Pack of 2",
          "price": 749,
          "category": "instant coffee",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": ""
        },
        "pairedItem": {
          "item": 6
        }
      }
    ]
  },
  "connections": {
    "Weekly Trigger": {
      "main": [
        [
          {
            "node": "Read Competitor Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Competitor Links": {
      "main": [
        [
          {
            "node": "Number of Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Digest": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert Email": {
      "main": [
        [
          {
            "node": "All Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scraping": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Products": {
      "main": [
        [
          {
            "node": "Parse Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Products": {
      "main": [
        [
          {
            "node": "Read Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Summary": {
      "main": [
        [
          {
            "node": "Detect Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Changes": {
      "main": [
        [
          {
            "node": "Any Changes Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Changes Found?": {
      "main": [
        [
          {
            "node": "Flatten for Sheet Write",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Changes Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten for Sheet Write": {
      "main": [
        [
          {
            "node": "Update Catalogue Sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Flag on - Testing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Catalogue Sheet": {
      "main": [
        [
          {
            "node": "Next Competitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next Competitor": {
      "main": [
        [
          {
            "node": "Number of Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Changes Skip": {
      "main": [
        [
          {
            "node": "Number of Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Number of Items": {
      "main": [
        [
          {
            "node": "Build Email Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Brand and URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Extract Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand and URL": {
      "main": [
        [
          {
            "node": "Scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "76df5975-8d79-46a6-999e-89e76f933846",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "116a404514e7383db134d2f1f7f421aa533d0a56f50e82bddb90491c89a4f919"
  },
  "id": "0OejVndqUKsM0BfZ",
  "tags": []
}