Notes Formatter/Notes - Formatter.json
{
  "name": "Notes Formatter",
  "nodes": [
    {
      "parameters": {
        "content": "## Setup Required\n1. Upload to Google Drive node: Replace YOUR_DRIVE_FOLDER_ID\n2. Create Notion Page node: Replace YOUR_NOTION_DATABASE_ID\n   Notion DB needs these properties: Summary (text), Subject (select), Date (date), Key Terms (text)\n3. Both email nodes: Replace YOUR_EMAIL@gmail.com\n4. Reconnect credentials: Google Docs, Google Drive, Anthropic, Notion, Gmail",
        "height": 220,
        "width": 560,
        "color": 3
      },
      "id": "5b306b64-e91e-4ed9-8f1f-af137ba81a33",
      "name": "Sticky Note 34cedc3c",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        112
      ]
    },
    {
      "parameters": {
        "content": "## Flow\nWeekly or Manual Trigger -> Fetch Google Doc -> Format to HTML (Claude) -> Extract Metadata (Claude) -> Parse & Assemble -> Upload to Drive + Create Notion Page -> Success Email\nOn Drive or Notion error -> Build Error Report -> Error Email",
        "height": 140,
        "width": 560,
        "color": 5
      },
      "id": "d34e2591-b197-45f1-ac1b-40aa8c1bb459",
      "name": "Sticky Note 1053711e",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        640
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "id": "8ff3b626-9afa-4f9e-a4ab-1c24a9b44290",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        320
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/11Mbz0IPrByyLlfK1oWNYnZ63umBNlYTbTcBuq-jCgdI/edit?tab=t.0"
      },
      "id": "af0f4c9a-46f5-48f6-bb14-62d885b5bc7b",
      "name": "Fetch Raw Notes",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -192,
        400
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "8HZfws0HyEyVYyBp",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "id": "fff38ff8-a933-4f07-a986-964de42bf47e",
      "name": "Manual Run",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        496
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze these raw notes and return ONLY a valid JSON object (no markdown, no explanation) with exactly these fields:\n{\n  \"title\": \"concise topic title (max 60 chars)\",\n  \"key_terms\": [\"term1\", \"term2\", \"term3\"],\n  \"subject\": \"subject area (e.g. Biology, History, Marketing)\",\n  \"date\": \"{{ $now.toFormat(\"yyyy-MM-dd\") }}\"\n}\n\nRaw notes:\n{{ $(\"Fetch Raw Notes\").item.json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3ae29d01-91ee-42b6-80fa-8e3c424b1acf",
      "name": "Extract Metadata",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        320,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const rawText = $input.item.json.output[0].content[0].text;\nconst cleaned = rawText.replace(/```json|```/g, \"\").trim();\nlet meta;\ntry {\n  meta = JSON.parse(cleaned);\n} catch(e) {\n  meta = { title: \"Untitled Notes\", summary: \"\", key_terms: [], subject: \"General\", date: new Date().toISOString().split(\"T\")[0] };\n}\nconst htmlContent = $(\"Format Notes to HTML\").item.json.output[0].content[0].text;\nconst fileName = meta.title + \" - \" + meta.date;\nreturn [{ json: { ...meta, htmlContent, fileName } }];"
      },
      "id": "09e898cb-d369-4ed0-9871-56fa2315bfb1",
      "name": "Parse Metadata & Assemble",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "multipart/related; boundary=foo_bar_baz",
        "body": "=--foo_bar_baz\nContent-Type: application/json; charset=UTF-8\n\n{\n  \"name\": \"{{ $json.fileName }}\",\n  \"mimeType\": \"application/vnd.google-apps.document\",\n  \"parents\": [\"YOUR_DRIVE_FOLDER_ID\"]\n}\n\n--foo_bar_baz\nContent-Type: text/html; charset=UTF-8\n\n{{ $json.htmlContent }}\n--foo_bar_baz--",
        "options": {}
      },
      "id": "27aa8a7e-9bf6-4ca7-98c4-b27e673302b8",
      "name": "Google Drive",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=# Role\nYou are an expert academic note organizer and document formatter. Transform raw, unstructured notes into clean, structured, highly readable HTML documents suitable for study and revision.\n\nRaw data:\n{{ $json.content }}\n\n# Task\n- Correct grammar and spelling without altering meaning.\n- Organize into logical hierarchy: Main topics as <h1>, Subtopics as <h2>, Supporting sections as <h3>.\n- Group related ideas into clear paragraphs using <p>.\n- Convert lists into properly structured bullet points using <ul> and <li>.\n- Emphasize key terms using <strong>.\n- Do NOT add new information or external knowledge.\n\n# Output\n- Output ONLY valid HTML (no markdown, no JSON, no explanations).\n- Include a minimal inline <style> block.\n- Wrap all content in a single <div>.\n- Must be clean, complete, and renderable HTML."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        0,
        400
      ],
      "id": "1cf9533f-80ca-4924-a6ca-d8f7ae798b76",
      "name": "Formatter",
      "credentials": {
        "openAiApi": {
          "id": "AJUyEfipeY8dMHNc",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {
    "Google Drive": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      },
      {
        "json": {
          "name": "Second item",
          "code": 2
        }
      }
    ]
  },
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Fetch Raw Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Raw Notes": {
      "main": [
        [
          {
            "node": "Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Run": {
      "main": [
        [
          {
            "node": "Fetch Raw Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Metadata": {
      "main": [
        [
          {
            "node": "Parse Metadata & Assemble",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Metadata & Assemble": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        []
      ]
    },
    "Formatter": {
      "main": [
        [
          {
            "node": "Extract Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4ebca306-2823-4718-b641-ad051116c7ee",
  "meta": {
    "instanceId": "116a404514e7383db134d2f1f7f421aa533d0a56f50e82bddb90491c89a4f919"
  },
  "id": "9dNzJ8ELMIyN6XRI",
  "tags": []
}
