Notes Formatting Model/Notes - Formatter.json
{
  "name": "Notes Formatter",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "id": "8ff3b626-9afa-4f9e-a4ab-1c24a9b44290",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        320
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/11Mbz0IPrByyLlfK1oWNYnZ63umBNlYTbTcBuq-jCgdI/edit?tab=t.0"
      },
      "id": "af0f4c9a-46f5-48f6-bb14-62d885b5bc7b",
      "name": "Fetch Raw Notes",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -336,
        400
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "8HZfws0HyEyVYyBp",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "id": "fff38ff8-a933-4f07-a986-964de42bf47e",
      "name": "Manual Run",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -592,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get metadata JSON from Extract Metadata node\nconst raw = $input.item.json.output[0].content[0].text;\n\nlet meta;\ntry {\n  const cleaned = raw.replace(/```json|```/g, '').trim();\n  meta = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(\"Metadata parse failed: \" + raw);\n}\n\n// Get HTML from Formatter node\nlet html = $('Formatter').item.json.output[0].content[0].text;\n\n// Strip any markdown fences Claude may have added\nhtml = html\n  .replace(/^```html\\n?/im, '')\n  .replace(/^```\\n?/im, '')\n  .replace(/```$/m, '')\n  .trim();\n\n// Inject charset if missing\nif (!html.includes('charset')) {\n  html = html.replace('<style>', '<meta charset=\"UTF-8\">\\n<style>');\n}\n\n// Build filename\nconst safeName = (str) => str.replace(/[^a-zA-Z0-9]/g, '_').substring(0, 40);\nconst fileName = `${meta.date}_${safeName(meta.subject)}_${safeName(meta.title)}.html`;\n\n// Prepare binary for Google Drive\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(html, 'utf8'),\n  fileName,\n  'text/html; charset=utf-8'\n);\n\nreturn [{\n  json: { fileName, subject: meta.subject, title: meta.title, summary: meta.summary, date: meta.date },\n  binary: { data: binaryData }\n}];"
      },
      "id": "09e898cb-d369-4ed0-9871-56fa2315bfb1",
      "name": "Parse Metadata & Assemble",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        400
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=# Role\nYou are an expert academic note organizer and document formatter. Transform raw, unstructured notes into clean, structured, highly readable HTML documents suitable for study and revision.\n\nRaw data:\n{{ $json.content }}\n\n# Task\n- Correct grammar and spelling without altering meaning.\n- Organize into logical hierarchy: Main topics as <h1>, Subtopics as <h2>, Supporting sections as <h3>.\n- Group related ideas into clear paragraphs using <p>.\n- Convert lists into properly structured bullet points using <ul> and <li>.\n- Emphasize key terms using <strong>.\n- Do NOT add new information or external knowledge.\n\n# Output\n- Output ONLY raw HTML. No markdown code blocks, no backticks, no ```html fences.\n- Include a minimal inline <style> block.\n- Wrap all content in a single <div>.\n- Must be clean, complete, and renderable HTML.\n- First line must be: <meta charset=\"UTF-8\">"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        32,
        400
      ],
      "id": "1cf9533f-80ca-4924-a6ca-d8f7ae798b76",
      "name": "Formatter",
      "credentials": {
        "openAiApi": {
          "id": "AJUyEfipeY8dMHNc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=# Role\nYou are a metadata extractor for academic notes.\n\n# Task\nExtract from the HTML input:\n- title: Main topic (3-6 words)\n- subject: Academic subject (e.g. Biology, Computer Science)\n- date: {{ $now.toFormat('yyyy-MM-dd') }}\n- summary: One sentence description\n\n# Output\nONLY a raw JSON object. No markdown, no backticks, no explanation.\n\n{\"title\": \"...\", \"subject\": \"...\", \"date\": \"...\", \"summary\": \"...\"}\n\nInput:\n{{ $('Formatter').item.json.output[0].content[0].text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        320,
        400
      ],
      "id": "de086a61-074d-421c-9bf0-e86786f3d3b9",
      "name": "Metadata",
      "credentials": {
        "openAiApi": {
          "id": "AJUyEfipeY8dMHNc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "content": "## Raw Notes Fetching:-\n\nThis starts weekly or we can run it manually, data from the document will be fetched",
        "height": 432,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        208
      ],
      "typeVersion": 1,
      "id": "2aabefc6-c4e9-4e18-a8b5-2f45f4aba478",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Formatter & Metadata:-\n\nThis station formats the content to the html node, and metadata analyses and fixes the headings, subtitles, topics and add a date secti",
        "height": 320,
        "width": 736,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        272
      ],
      "typeVersion": 1,
      "id": "9af1a264-4ad2-4010-b22d-e46e218c1d1e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "name": "={{ $('Parse Metadata & Assemble').item.json.title }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "/ (Root folder)",
          "cachedResultUrl": "https://drive.google.com/drive"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        848,
        400
      ],
      "id": "1d72cb35-f3d5-4a55-b778-868b92b1775f",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "D0T4nSbBhSkISQRe",
          "name": "Google Drive OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Fetch Raw Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Raw Notes": {
      "main": [
        [
          {
            "node": "Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Run": {
      "main": [
        [
          {
            "node": "Fetch Raw Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Metadata & Assemble": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatter": {
      "main": [
        [
          {
            "node": "Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadata": {
      "main": [
        [
          {
            "node": "Parse Metadata & Assemble",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ccc9028c-0d65-4c98-94dd-af790a97dbe6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "116a404514e7383db134d2f1f7f421aa533d0a56f50e82bddb90491c89a4f919"
  },
  "id": "9dNzJ8ELMIyN6XRI",
  "tags": []
}