Product Analysis/Competitor Analysis.json
{
  "name": "Competitor's Analysis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "id": "16a7d121-5cf9-4834-9d63-e83175c5c6b2",
      "name": "Weekly Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1072,
        256
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1ZvQvpp0b9hmr5xPV3yIl9mSVklC_z1tb6I2CM1wOOHg"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Links"
        },
        "options": {}
      },
      "id": "2580fee7-9984-4d61-8ebb-0a9bde8b40fb",
      "name": "Read Competitor Links",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -896,
        256
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vL7UpKlt0R3kfrKx",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const d = $input.item.json;\nconst s = d.summary;\nlet h = '<h2 style=\"font-family:sans-serif\">Competitor Intelligence: ' + d.brand + '</h2>';\nh += '<p style=\"font-family:sans-serif\">Run: ' + new Date().toLocaleDateString('en-IN') + '</p>';\nh += '<table style=\"border-collapse:collapse;width:100%;font-family:sans-serif;font-size:14px\">';\nh += '<tr style=\"background:#f0f0f0\"><th style=\"padding:8px;border:1px solid #ddd\">Metric</th><th style=\"padding:8px;border:1px solid #ddd\">Count</th></tr>';\nh += '<tr><td style=\"padding:8px;border:1px solid #ddd\">New Products</td><td style=\"padding:8px;border:1px solid #ddd;text-align:center\">' + s.new_count + '</td></tr>';\nh += '<tr><td style=\"padding:8px;border:1px solid #ddd\">Price Changes</td><td style=\"padding:8px;border:1px solid #ddd;text-align:center\">' + s.updated_count + '</td></tr>';\nh += '<tr><td style=\"padding:8px;border:1px solid #ddd\">Removed</td><td style=\"padding:8px;border:1px solid #ddd;text-align:center\">' + s.removed_count + '</td></tr>';\nh += '</table>';\nif (d.new_products?.length) {\n  h += '<h3 style=\"color:#2e7d32;font-family:sans-serif\">New Products</h3><ul style=\"font-family:sans-serif\">';\n  for (const p of d.new_products) {\n    h += '<li><b>' + p.name + '</b> Rs.' + (p.price||'N/A');\n    if (p.mrp) h += ' <span style=\"text-decoration:line-through;color:#999\">Rs.' + p.mrp + '</span>';\n    h += ' [' + (p.category||'') + ']</li>';\n  }\n  h += '</ul>';\n}\nif (d.updated_products?.length) {\n  h += '<h3 style=\"color:#e65100;font-family:sans-serif\">Price / Detail Changes</h3><ul style=\"font-family:sans-serif\">';\n  for (const p of d.updated_products) {\n    const up = parseFloat(p.price_delta) > 0;\n    const col = up ? '#c62828' : '#2e7d32';\n    h += '<li><b>' + p.name + '</b>: Rs.' + p.old_price + ' to <span style=\"color:' + col + '\">Rs.' + p.price + '</span>';\n    if (Math.abs(parseFloat(p.price_delta)) > 0) h += ' (' + (up ? '+' : '') + p.price_delta + ')';\n    if (p.mrp) h += ' | MRP Rs.' + p.mrp;\n    h += '</li>';\n  }\n  h += '</ul>';\n}\nif (d.removed_products?.length) {\n  h += '<h3 style=\"color:#888;font-family:sans-serif\">Removed</h3><ul style=\"font-family:sans-serif\">';\n  for (const n of d.removed_products) h += '<li>' + n + '</li>';\n  h += '</ul>';\n}\nh += '<p style=\"font-family:sans-serif\"><a href=\"https://docs.google.com/spreadsheets/d/1FDTqrcWRbU5v35FirKleCYwbC3W2E6acQ9lx0wCTeUA\">Open Catalogue Sheet</a></p>';\nreturn [{ json: { brand: d.brand, html: h, subject: 'Competitor Alert: ' + d.brand + ' (' + s.new_count + ' new, ' + s.updated_count + ' changed, ' + s.removed_count + ' removed)' } }];"
      },
      "id": "f402e256-abc5-4ae8-92a9-eec3aec96b1c",
      "name": "Build Email Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        416
      ]
    },
    {
      "parameters": {
        "sendTo": "your-email@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "54613958-dbe4-4e30-a83c-53dc8bbd602b",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -240,
        416
      ],
      "webhookId": "882aa617-3cba-4201-91c2-37ddbf86a5fd"
    },
    {
      "parameters": {},
      "id": "9b138748-90ce-44e7-bcba-4bb46e95f413",
      "name": "All Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -48,
        416
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "id": "2c20ebf4-32d1-49b1-8600-d7f9806aa9ba",
      "name": "Scraping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -352,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── MARKDOWN CLEANER — trim tail junk, preserve product content ─────────────\nconst md = $input.item.json.markdown || '';\nlet brand = '';\nlet sheetTab = '';\n\ntry {\n  brand = $('Map Brand Fields').item.json.brand || '';\n  sheetTab = $('Map Brand Fields').item.json.sheet_tab || '';\n} catch (error) {\n  console.error('Error accessing Map Brand Fields:', error);\n}\n\n// Step 1: Split into lines for targeted removal\nlet lines = md.split('\\n');\n\n// Step 2: Detect where \"junk zone\" starts — common footer/noise signals\nconst JUNK_SIGNALS = [\n  /^#+\\s*(footer|legal|privacy|terms|cookie|newsletter|subscribe|follow us|social|contact us|copyright|sitemap|faq|help center|returns|shipping policy|about us|careers|press)/i,\n  /^#+\\s*(you may also (like|love)|related products|recently viewed|recommended|trending|bestsellers outside)/i,\n  /^\\*{0,2}(©|copyright|\\(c\\))\\s*\\d{4}/i,\n  /^(all rights reserved|privacy policy|terms of (use|service)|refund policy)/i,\n];\n\nlet cutLine = lines.length; // default: keep everything\n\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i].trim();\n  if (JUNK_SIGNALS.some(rx => rx.test(line))) {\n    // Only cut if we're past the first 30% of the document\n    // (avoids cutting real content that happens to match early)\n    if (i > lines.length * 0.3) {\n      cutLine = i;\n      break;\n    }\n  }\n}\n\nlines = lines.slice(0, cutLine);\n\n// Step 3: Remove nav link dumps — lines that are just a pile of [text](url) with no product info\n// A \"link dump\" = 5+ consecutive lines that are only markdown links, no prices, no descriptions\nlet cleaned = [];\nlet linkRunCount = 0;\nconst LINK_ONLY_LINE = /^\\s*[-*]?\\s*\\[.+?\\]\\(.+?\\)\\s*$/;\nconst HAS_PRICE = /₹|Rs\\.?|INR|\\d{3,}/;\n\nfor (const line of lines) {\n  if (LINK_ONLY_LINE.test(line) && !HAS_PRICE.test(line)) {\n    linkRunCount++;\n    if (linkRunCount <= 4) cleaned.push(line); // keep first few, drop the rest of a long run\n  } else {\n    linkRunCount = 0;\n    cleaned.push(line);\n  }\n}\n\n// Step 4: Collapse 3+ consecutive blank lines into 1\nlet result = cleaned.join('\\n').replace(/\\n{3,}/g, '\\n\\n').trim();\n\n// Step 5: Safety net — only if still huge (>40K chars), hard cut at last product-looking line\nif (result.length > 40000) {\n  const PRICE_LINE = /₹|Rs\\.?|INR|\\d{3,}/;\n  const resultLines = result.split('\\n');\n  let lastProductLine = 15000; // fallback\n  for (let i = resultLines.length - 1; i >= 0; i--) {\n    if (PRICE_LINE.test(resultLines[i])) {\n      lastProductLine = i + 5; // keep a few lines of context after last price\n      break;\n    }\n  }\n  result = resultLines.slice(0, lastProductLine).join('\\n').trim();\n}\n\nreturn {\n  json: {\n    brand,\n    sheet_tab: sheetTab,\n    cleaned_markdown: result,\n    original_chars: md.length,\n    cleaned_chars: result.length,\n    reduction_pct: Math.round((1 - result.length / md.length) * 100)\n  }\n};"
      },
      "id": "5fd2b4d1-9151-4bc8-bdac-95e70ca517e2",
      "name": "Striping",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -80
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are a data extraction engine designed to parse structured information from messy markdown content.\n\nYour task is to extract ALL products listed in the provided markdown pricing page.\n\nOUTPUT REQUIREMENTS:\nReturn ONLY a valid JSON array. No explanations, no extra text.\n\nEach product must follow this exact schema:\n{\n  \"name\": \"string\",\n  \"price\": \"number (lowest price found)\",\n  \"category\": \"string\",\n  \"tags\": [\"string\"]\n}\n\nEXTRACTION RULES:\n\n1. PRODUCT IDENTIFICATION:\n- Extract every distinct product mentioned in the markdown.\n- Do NOT hallucinate or infer products that are not explicitly present.\n- Ignore headings or sections that are not actual products.\n\n2. NAME:\n- Capture the FULL descriptive product name.\n- Include important qualifiers like:\n  - format (e.g., pouch, pack, jar, bottle)\n  - size (e.g., 250g, 1kg)\n  - variant/type (e.g., instant coffee, filter coffee, dark roast)\n\n3. PRICE:\n- If multiple prices are present:\n  - Choose the LOWEST price as the final price.\n  - Ignore strikethrough or higher MRP values.\n- If price is missing or unclear, SKIP the product entirely.\n- Output only numeric value (no currency symbols).\n\n4. CATEGORY:\n- Infer product type based on description.\n- Be specific (e.g., \"instant coffee\", \"ground coffee\", \"coffee beans\", \"equipment\", etc.)\n- Do NOT leave empty.\n\n5. TAGS:\n- Extract any labels such as:\n  - \"sale\", \"sold out\", \"new\", \"limited\", etc.\n- If no tags exist, return an empty array [].\n\n6. DEDUPLICATION:\n- Avoid duplicate entries.\n- If same product appears multiple times, include only once.\n\n7. STRICTNESS:\n- Do NOT guess missing fields.\n- Do NOT fabricate data.\n- If unsure, SKIP the product.\n\nOUTPUT FORMAT EXAMPLE:\n[\n  {\n    \"name\": \"Instant Coffee Powder Jar 200g\",\n    \"price\": \"299\",\n    \"category\": \"instant coffee\",\n    \"tags\": [\"sale\"]\n  },\n  {\n    \"name\": \"Dark Roast Ground Coffee Pack 500g\",\n    \"price\": \"450\",\n    \"category\": \"ground coffee\",\n    \"tags\": []\n  }\n]\n"
            },
            {
              "content": "=You are given this markdown:{{ $json.data }} "
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "id": "2572aa05-8789-48e5-9cf0-60e030070f99",
      "name": "Extract Products",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -16,
        144
      ],
      "credentials": {
        "openAiApi": {
          "id": "AJUyEfipeY8dMHNc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// output is an ARRAY - so we need output[0], not just output\nconst item = $input.first().json;\n\nconst products = item.output[0].content[0].text.results;\n\nreturn products.map(product => ({\n  json: {\n    name: product.name,\n    price: product.price,\n    category: product.category,\n    tags: Array.isArray(product.tags) ? product.tags.join(', ') : product.tags\n  }\n}));"
      },
      "id": "4a889f50-2490-49f7-baa5-6b51f8b97ff0",
      "name": "Parse Products",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        208
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FDTqrcWRbU5v35FirKleCYwbC3W2E6acQ9lx0wCTeUA",
          "mode": "list",
          "cachedResultName": "Competitor's Catalogue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FDTqrcWRbU5v35FirKleCYwbC3W2E6acQ9lx0wCTeUA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Brand and URL').item.json.brand }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "aa0cf63d-e60a-4a2a-8f9a-fc95318e6b8a",
      "name": "Read Summary",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        208
      ],
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vL7UpKlt0R3kfrKx",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// We have two sources:\n// - Parsed products from OpenAI: 26 items (fresh from website)\n// - Existing sheet data: 4 items (what was saved last time)\n\nconst parsedProducts = $('Parse Products').all().map(i => i.json);\nconst sheetProducts = $('Read Summary').all().map(i => i.json);\n\n// Create a lookup map from sheet data using product name as key\n// This lets us quickly find if a product already exists in sheet\nconst sheetMap = {};\nsheetProducts.forEach(p => {\n  sheetMap[p.name] = p;\n});\n\nconst changes = [];\n\nparsedProducts.forEach(product => {\n  const existing = sheetMap[product.name];\n\n  if (!existing) {\n    // Product is NEW - not in sheet at all\n    changes.push({\n      json: {\n        name: product.name,\n        price: product.price,\n        category: product.category,\n        tags: product.tags,\n        change_type: 'NEW',\n        old_price: null,\n        old_tags: null\n      }\n    });\n  } else {\n    // Product exists - check if price or tags changed\n    const priceChanged = String(existing.price) !== String(product.price);\n    const tagsChanged = existing.tags !== product.tags;\n\n    if (priceChanged || tagsChanged) {\n      changes.push({\n        json: {\n          name: product.name,\n          price: product.price,\n          category: product.category,\n          tags: product.tags,\n          change_type: 'UPDATED',\n          old_price: priceChanged ? existing.price : null,\n          old_tags: tagsChanged ? existing.tags : null\n        }\n      });\n    }\n  }\n});\n\n// If no changes found, return a signal item so the IF node can handle it\nif (changes.length === 0) {\n  return [{ json: { change_type: 'NO_CHANGE' } }];\n}\n\nreturn changes;"
      },
      "id": "829c1d42-27f7-4d86-a5f8-907513320958",
      "name": "Detect Changes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.change_type }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              },
              "rightValue": "",
              "id": "4fe028b2-a447-46f6-ba51-f2129336ff30"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f493005e-3273-4cba-b739-781462966cf3",
      "name": "Any Changes Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        208
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Each item coming in is already flat from Detect Changes\n// We just need to clean and structure it for Google Sheets\nconst item = $input.item.json;\n\nreturn {\n  json: {\n    name: item.name,\n    price: item.price,\n    category: item.category,\n    tags: item.tags,\n    change_type: item.change_type,        // NEW or UPDATED\n    old_price: item.old_price || '',      // empty string if no change\n    old_tags: item.old_tags || '',        // empty string if no change\n    scraped_at: new Date().toISOString().split('T')[0]  // today's date\n  }\n};\n"
      },
      "id": "957d07a8-7675-477e-93e5-4bb28da43289",
      "name": "Flatten for Sheet Write",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        432
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1FDTqrcWRbU5v35FirKleCYwbC3W2E6acQ9lx0wCTeUA",
          "mode": "list",
          "cachedResultName": "Competitor's Catalogue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FDTqrcWRbU5v35FirKleCYwbC3W2E6acQ9lx0wCTeUA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Brand and URL').first().json.brand }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "curruncy",
              "displayName": "curruncy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9021a582-1fe3-4b25-8284-184d92710596",
      "name": "Update Catalogue Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        432
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "vL7UpKlt0R3kfrKx",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "id": "3b7d5e9c-4788-4f63-9c6a-3db0b2673c5b",
      "name": "Next Competitor",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        672,
        432
      ]
    },
    {
      "parameters": {},
      "id": "260f4217-c640-4a0c-aaa5-79412583bac4",
      "name": "No Changes Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        992,
        224
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4ab74072-49b7-46cc-bf2b-e909b3179cdb",
      "name": "Number of Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -704,
        256
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "brand",
              "value": "={{ $json['Competitor\\'s name'] }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "url",
              "value": "={{ $json[\"Product/Pricing page URL\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ce61691a-926e-4800-927f-5b9b3888e570",
      "name": "Brand and URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        144
      ]
    },
    {
      "parameters": {
        "html": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        -192,
        144
      ],
      "id": "b4b4a966-4f07-45e6-857e-6adaf7b9dde6",
      "name": "Markdown"
    },
    {
      "parameters": {
        "content": "### use it later",
        "height": 192,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -128
      ],
      "typeVersion": 1,
      "id": "f356fabe-121b-4ea8-bb68-51c22b50d6e3",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Weekly Trigger": [
      {
        "json": {
          "timestamp": "2026-04-13T08:33:01.123+05:30",
          "Readable date": "April 13th 2026, 8:33:01 am",
          "Readable time": "8:33:01 am",
          "Day of week": "Monday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "13",
          "Hour": "08",
          "Minute": "33",
          "Second": "01",
          "Timezone": "Asia/Calcutta (UTC+05:30)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Extract Products": [
      {
        "json": {
          "output": [
            {
              "id": "msg_01d01e16d38ffcea0069df53d1b2408196928ff6e9c3f880d8",
              "type": "message",
              "status": "completed",
              "content": [
                {
                  "type": "output_text",
                  "annotations": [],
                  "logprobs": [],
                  "text": {
                    "results": [
                      {
                        "name": "Enamel Mug",
                        "price": 564,
                        "category": "merchandise",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "Green Ceramic Mug",
                        "price": 499,
                        "category": "merchandise",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Tumbler",
                        "price": 999,
                        "category": "merchandise",
                        "tags": [
                          "sale",
                          "sold out"
                        ]
                      },
                      {
                        "name": "Dark Roast Hot Brew Coffee Bags",
                        "price": 399,
                        "category": "hot brew",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Instant Coffee Combo",
                        "price": 1299,
                        "category": "combo",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Frothy Instant Combo - Original",
                        "price": 1799,
                        "category": "combo",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "Dark Roast Instant Coffee",
                        "price": 699,
                        "category": "instant coffee",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Hazelnut Instant Coffee",
                        "price": 599,
                        "category": "instant coffee",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "French Vanilla Instant Coffee",
                        "price": 599,
                        "category": "instant coffee",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Original Instant Coffee",
                        "price": 599,
                        "category": "instant coffee",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Instant Coffee Combo Pack",
                        "price": 1649,
                        "category": "instant coffee",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Instant Coffee Sachets + Travel Mug",
                        "price": 1625,
                        "category": "combo",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Instant Coffee Assorted Pack of 96",
                        "price": 1099,
                        "category": "instant coffee",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Instant Coffee Sachets + Tumbler",
                        "price": 1276,
                        "category": "combo",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "Filter Instant Coffee",
                        "price": 349,
                        "category": "instant coffee",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Xpresso, Strong Blend Instant Coffee",
                        "price": 399,
                        "category": "instant coffee",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Travel Mug + Frother + Free Coffee",
                        "price": 2979,
                        "category": "combo",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "Frothy Instant Combo - French Vanilla",
                        "price": 1699,
                        "category": "combo",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "50 Sachets + FREE MUG",
                        "price": 599,
                        "category": "gift pack",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Coffee Frother + Free Coffee",
                        "price": 1299,
                        "category": "combo",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "Instant Coffee Assorted Pack of 48",
                        "price": 599,
                        "category": "instant coffee",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Frothy Instant Combo - Hazelnut",
                        "price": 1699,
                        "category": "combo",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "The Ground Coffee Mug Combo",
                        "price": 849,
                        "category": "merchandise",
                        "tags": [
                          "sale"
                        ]
                      },
                      {
                        "name": "Enamel Mug + Free Pack of 10 Instant",
                        "price": 659,
                        "category": "combo",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "Enamel Mug Combo + Free Coffee",
                        "price": 1535,
                        "category": "combo",
                        "tags": [
                          "sold out"
                        ]
                      },
                      {
                        "name": "Xpresso, Strong Blend Instant Coffee Pack of 2",
                        "price": 749,
                        "category": "instant coffee",
                        "tags": [
                          "sale"
                        ]
                      }
                    ]
                  }
                }
              ],
              "role": "assistant"
            }
          ]
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Parse Products": [
      {
        "json": {
          "name": "Enamel Mug",
          "price": 564,
          "category": "merchandise",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Green Ceramic Mug",
          "price": 499,
          "category": "merchandise",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Tumbler",
          "price": 999,
          "category": "merchandise",
          "tags": "sale, sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Dark Roast Hot Brew Coffee Bags",
          "price": 399,
          "category": "hot brew",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Instant Coffee Combo",
          "price": 1299,
          "category": "combo",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Frothy Instant Combo - Original",
          "price": 1799,
          "category": "combo",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Dark Roast Instant Coffee",
          "price": 699,
          "category": "instant coffee",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Hazelnut Instant Coffee",
          "price": 599,
          "category": "instant coffee",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "French Vanilla Instant Coffee",
          "price": 599,
          "category": "instant coffee",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Original Instant Coffee",
          "price": 599,
          "category": "instant coffee",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Instant Coffee Combo Pack",
          "price": 1649,
          "category": "instant coffee",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Instant Coffee Sachets + Travel Mug",
          "price": 1625,
          "category": "combo",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Instant Coffee Assorted Pack of 96",
          "price": 1099,
          "category": "instant coffee",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Instant Coffee Sachets + Tumbler",
          "price": 1276,
          "category": "combo",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Filter Instant Coffee",
          "price": 349,
          "category": "instant coffee",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Xpresso, Strong Blend Instant Coffee",
          "price": 399,
          "category": "instant coffee",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Travel Mug + Frother + Free Coffee",
          "price": 2979,
          "category": "combo",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Frothy Instant Combo - French Vanilla",
          "price": 1699,
          "category": "combo",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "50 Sachets + FREE MUG",
          "price": 599,
          "category": "gift pack",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Coffee Frother + Free Coffee",
          "price": 1299,
          "category": "combo",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Instant Coffee Assorted Pack of 48",
          "price": 599,
          "category": "instant coffee",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Frothy Instant Combo - Hazelnut",
          "price": 1699,
          "category": "combo",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "The Ground Coffee Mug Combo",
          "price": 849,
          "category": "merchandise",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Enamel Mug + Free Pack of 10 Instant",
          "price": 659,
          "category": "combo",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Enamel Mug Combo + Free Coffee",
          "price": 1535,
          "category": "combo",
          "tags": "sold out"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Xpresso, Strong Blend Instant Coffee Pack of 2",
          "price": 749,
          "category": "instant coffee",
          "tags": "sale"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Flatten for Sheet Write": [
      {
        "json": {
          "name": "Enamel Mug",
          "price": 564,
          "category": "merchandise",
          "tags": "sold out",
          "change_type": "UPDATED",
          "old_price": 800,
          "old_tags": "sale",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "name": "Tumbler",
          "price": 999,
          "category": "merchandise",
          "tags": "sale, sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "name": "Dark Roast Hot Brew Coffee Bags",
          "price": 399,
          "category": "hot brew",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "name": "Instant Coffee Combo",
          "price": 1299,
          "category": "combo",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "name": "Frothy Instant Combo - Original",
          "price": 1799,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "name": "Dark Roast Instant Coffee",
          "price": 699,
          "category": "instant coffee",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "name": "Hazelnut Instant Coffee",
          "price": 599,
          "category": "instant coffee",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 6
        }
      },
      {
        "json": {
          "name": "French Vanilla Instant Coffee",
          "price": 599,
          "category": "instant coffee",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 7
        }
      },
      {
        "json": {
          "name": "Original Instant Coffee",
          "price": 599,
          "category": "instant coffee",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 8
        }
      },
      {
        "json": {
          "name": "Instant Coffee Combo Pack",
          "price": 1649,
          "category": "instant coffee",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 9
        }
      },
      {
        "json": {
          "name": "Instant Coffee Sachets + Travel Mug",
          "price": 1625,
          "category": "combo",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 10
        }
      },
      {
        "json": {
          "name": "Instant Coffee Assorted Pack of 96",
          "price": 1099,
          "category": "instant coffee",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 11
        }
      },
      {
        "json": {
          "name": "Instant Coffee Sachets + Tumbler",
          "price": 1276,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 12
        }
      },
      {
        "json": {
          "name": "Filter Instant Coffee",
          "price": 349,
          "category": "instant coffee",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 13
        }
      },
      {
        "json": {
          "name": "Xpresso, Strong Blend Instant Coffee",
          "price": 399,
          "category": "instant coffee",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 14
        }
      },
      {
        "json": {
          "name": "Travel Mug + Frother + Free Coffee",
          "price": 2979,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 15
        }
      },
      {
        "json": {
          "name": "Frothy Instant Combo - French Vanilla",
          "price": 1699,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 16
        }
      },
      {
        "json": {
          "name": "50 Sachets + FREE MUG",
          "price": 599,
          "category": "gift pack",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 17
        }
      },
      {
        "json": {
          "name": "Coffee Frother + Free Coffee",
          "price": 1299,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 18
        }
      },
      {
        "json": {
          "name": "Instant Coffee Assorted Pack of 48",
          "price": 599,
          "category": "instant coffee",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 19
        }
      },
      {
        "json": {
          "name": "Frothy Instant Combo - Hazelnut",
          "price": 1699,
          "category": "combo",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 20
        }
      },
      {
        "json": {
          "name": "The Ground Coffee Mug Combo",
          "price": 849,
          "category": "merchandise",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 21
        }
      },
      {
        "json": {
          "name": "Enamel Mug + Free Pack of 10 Instant",
          "price": 659,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 22
        }
      },
      {
        "json": {
          "name": "Enamel Mug Combo + Free Coffee",
          "price": 1535,
          "category": "combo",
          "tags": "sold out",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 23
        }
      },
      {
        "json": {
          "name": "Xpresso, Strong Blend Instant Coffee Pack of 2",
          "price": 749,
          "category": "instant coffee",
          "tags": "sale",
          "change_type": "NEW",
          "old_price": "",
          "old_tags": "",
          "scraped_at": "2026-04-17"
        },
        "pairedItem": {
          "item": 24
        }
      }
    ]
  },
  "connections": {
    "Weekly Trigger": {
      "main": [
        [
          {
            "node": "Read Competitor Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Competitor Links": {
      "main": [
        [
          {
            "node": "Number of Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Digest": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Alert Email": {
      "main": [
        [
          {
            "node": "All Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scraping": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Striping": {
      "main": [
        []
      ]
    },
    "Extract Products": {
      "main": [
        [
          {
            "node": "Parse Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Products": {
      "main": [
        [
          {
            "node": "Read Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Summary": {
      "main": [
        [
          {
            "node": "Detect Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Changes": {
      "main": [
        [
          {
            "node": "Any Changes Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Changes Found?": {
      "main": [
        [
          {
            "node": "Flatten for Sheet Write",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Changes Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten for Sheet Write": {
      "main": [
        [
          {
            "node": "Update Catalogue Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Catalogue Sheet": {
      "main": [
        [
          {
            "node": "Next Competitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next Competitor": {
      "main": [
        [
          {
            "node": "Number of Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Changes Skip": {
      "main": [
        [
          {
            "node": "Number of Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Number of Items": {
      "main": [
        [
          {
            "node": "Build Email Digest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Brand and URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brand and URL": {
      "main": [
        [
          {
            "node": "Scraping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Extract Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "56a45542-e732-40a4-9a05-1df8b4ce8540",
  "meta": {
    "instanceId": "116a404514e7383db134d2f1f7f421aa533d0a56f50e82bddb90491c89a4f919"
  },
  "id": "0OejVndqUKsM0BfZ",
  "tags": []
}
